.register {
  .register-logo {
    margin-top: 10vh;
    width: 100%;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/novi_g.png');
  }

  @media #{$medium-and-down} {
    .show-password {
      margin-left: 72vw;
      position: absolute;
    }
  }

  @media #{$large-and-up} {
    .show-password {
      margin-left: 63vw;
      position: absolute;
    }
  }
  .note-password {
    padding-left: 15px !important;
  }
}
