$backgroundGrey: #f9f9f9;

@import 'partials/colors';

@font-face {
  font-family: 'LatoBold';
  src: url('/assets/fonts/Lato-Bold.eot');
  /* IE9 Compat Modes */
  src: url('/assets/fonts/Lato-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/assets/fonts/Lato-Bold.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('/assets/fonts/Lato-Bold.ttf')
      format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LatoLight';
  src: url('/assets/fonts/Lato-Light.eot');
  /* IE9 Compat Modes */
  src: url('/assets/fonts/Lato-Light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/assets/fonts/Lato-Light.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('/assets/fonts/Lato-Light.ttf')
      format('truetype');
  /* Safari, Android, iOS */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-all($tl, $tr, $br, $bl) {
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  -moz-border-radius-topleft: $tl;
  -moz-border-radius-topright: $tr;
  -moz-border-radius-bottomright: $br;
  -moz-border-radius-bottomleft: $bl;
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}

@mixin border-radius-right($radius) {
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-bottomright: $radius;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-radius-left($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

body {
  font-family: LatoLight;
}

.materialize-me {
  @import 'materialize';
  .z-depth-1 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
  }
  .z-depth-1-half {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.12);
  }
  .z-depth-2 {
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.12);
  }

  a {
    color: $noviBlue;
  }
  label {
    font-family: LatoLight;
  }
  input {
    font-weight: 300;
    font-family: LatoLight;
    font-size: 1rem;
  }
  button {
    font-family: LatoBold;
  }
  .btn {
    text-transform: initial;
  }
  .btn,
  .btn-floating {
    &:focus {
      background-color: lighten($secondary-color, 5%);
    }
  }
  .row.no-margin {
    margin-bottom: 0;
  }

  @import 'components/strength-meter.scss';
  @import 'controllers/register.scss';

}
